extends ../layout

block content
    link(rel="stylesheet", href="/css/post/detail.css")
    header.header
        div
            h1=`${post_data.p_title}`
            div.info
                span=`${post_data.p_date}` 
                span=`${post_data.p_time}`
                strong=`유저 닉네임  ${post_data.p_uid}` 
    section.body
        div= `${post_data.p_content}`
        div.img_box
            if post_data.p_image
                img(src=`/upLoad_file/${post_data.p_image}` width="150px")